<script setup lang="ts">
import { useRouter } from "vue-router";
import TheWelcome from "../components/TheWelcome.vue";
const router = useRouter();
function openShowParam(id: number) {
  router.push("/show-param/" + id);
}
</script>

<template>
  <main>
    <router-link to="/show-param/1">show param 1</router-link>
    <v-btn @click="openShowParam(1)">show param 1</v-btn>
    <v-btn @click="openShowParam(2)">show param 2</v-btn>
    <!-- <TheWelcome /> -->
  </main>
</template>
