<script setup lang="ts">
import { useRoute, useRouter } from "vue-router";

const router = useRouter();
const route = useRoute();
</script>
<template>
  <div>Show Param</div>
  <div>{{ route.params }}</div>
  <div>{{ route.query }}</div>
</template>
