<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";

const employeeStore = useEmployeeStore();
</script>
<template>
  <v-dialog v-model="employeeStore.dialogDelete" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5, text-center" style="color: red">
        WARNING!!!
      </v-card-title>
      <v-card-text>Will you delete this ?</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="grey"
          variant="text"
          @click="employeeStore.dialogDelete = false"
        >
          No
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="employeeStore.deleteEmployee()"
        >
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
