<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { ref } from "vue";
import { VForm } from "vuetify/components";
const employeeStore = useEmployeeStore();
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await employeeStore.saveEmployee();
  }
}
</script>
<template>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="employeeStore.editedEmployee.name"
                  :rules="[
                    (v) => !!v || 'Name is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Username*"
                  required
                  v-model="employeeStore.editedEmployee.username"
                  :rules="[(v) => !!v || 'Username is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  required
                  v-model="employeeStore.editedEmployee.password"
                  :rules="[(v) => !!v || 'Password is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Biirthday*"
                  required
                  v-model="employeeStore.editedEmployee.birthday"
                  :rules="[(v) => !!v || 'Birthday is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Address*"
                  required
                  v-model="employeeStore.editedEmployee.address"
                  :rules="[(v) => !!v || 'Address is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Tel*"
                  required
                  v-model="employeeStore.editedEmployee.tel"
                  :rules="[(v) => !!v || 'Tel is required']"
                ></v-text-field>
                <v-col cols="12">
                  <v-text-field
                    label="email*"
                    required
                    v-model="employeeStore.editedEmployee.email"
                    :rules="[(v) => !!v || 'Email is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Other Contact*"
                    required
                    v-model="employeeStore.editedEmployee.other_contact"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Date of Start*"
                    required
                    v-model="employeeStore.editedEmployee.date_start"
                    :rules="[(v) => !!v || 'Date of Start is required']"
                  ></v-text-field>
                </v-col>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Role"
                  required
                  v-model="employeeStore.editedEmployee.role"
                  :rules="[(v) => !!v || 'Role is required']"
                ></v-text-field>
                <v-col cols="12">
                  <v-text-field
                    label="Rate*"
                    required
                    v-model.number="employeeStore.editedEmployee.rate"
                    :rules="[(v) => !!v || 'Rate is required']"
                  ></v-text-field>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="employeeStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
