<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useEmployeeStore } from "@/stores/employee";
import { onMounted } from "vue";
import EmployeeDialog from "./EmployeeDialog.vue";

const employeeStore = useEmployeeStore();
onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>
<template>
  <EmployeeDialog></EmployeeDialog>
  <ConfirmDialog></ConfirmDialog>
  <v-btn @click="employeeStore.dialog = true" class="ma-5">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Oparations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of employeeStore.employee" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ JSON.parse(item.date_start) }}</td>
        <td>
          <v-btn class="mr-5" @click="employeeStore.editEmployee(item)"
            >Edit</v-btn
          ><v-btn @click="employeeStore.deleteEP(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
